<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8" />
    <title>后台管理首页</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🌳</text></svg>">
</head>
<body>
    <h1>后台管理首页</h1>
    <ul>
        <li><a href="{{ url_for('admin_users') }}">用户管理</a></li>
        <li><a href="{{ url_for('admin_moments') }}">说说管理</a></li>
        <li><a href="{{ url_for('admin_comments') }}">评论管理</a></li>
    </ul>
    <a href="{{ url_for('admin_logout') }}">退出管理员登录</a>
</body>
</html>
